<!-- HEADER -->
<header id="page--top" class="the-header" role="banner">
    <div class="container">
      <h1 class="title">Smart Hiking</h1>
      <h2 class="subtitle"><%= t(:index_subtitle) %></h2>
        <%= image_tag "logo_smart-hiking.svg", class: "logo", alt: "Smart-Hiking Logo" %>
    </div>
</header>
<!-- Services  -->
<div class="grid">
  <section class="item-4  section  section--summary" role="region">
    <div class="wrapper">
      <h4><%= t(:index_description) %></h4>
      <article class="summary" role="article">
        <p><%= t(:index_summary) %></p>
        <p><%= t(:index_summary) %></p>
      </article>
    </div>
  </section>
  <aside class= "item-2" role="complementary">
    <h4><%= t(:most_recently) %></h4>
  </aside>
  <section class="item-6 section section--intro">
    <div class="intro_title_container">
      <h4><%= t(:index_live_the_moment_1) %></h4>
      <h4><%= t(:index_live_the_moment_2) %></h4>
    </div>
  </section>

  <section class="item-6 grid section section--feature">
    <article class="xs-item-2">5</article>
    <article class="xs-item-2">44</article>
    <article class="xs-item-2">44</article>
  </section>

  <div class="item-6 grid anuncio">
    <div class="item-2 bag">
      <%= image_tag "bag.png", class: "bag_img", alt: "Hiking Bag" %>
    </div>
    <aside class="item-4">
      3232323
    </aside>
  </div>

    <!-- Article 2  -->
  <article class="item-6 article--02  body-text" role="article">
    <div class="container">
      <div class="">
        <h3>Blablalba</h3>
        <p>Cmon</p>
      </div>
    </div>
  </article>
    
</div>