<!-- HEADER -->
<header id="page--top" class="the-header" role="banner">
    <div class="container">
      <h1 class="title">Smart Hiking</h1>
      <h2 class="subtitle"><%= t(:index_subtitle) %></h2>
        <%= image_tag "logo_smart-hiking.svg", class: "logo", alt: "Smart-Hiking Logo" %>
    </div>
</header>
<!-- Services  -->
<div class="grid">

  <section id="aboutus" class="item-3 no-gap  section  section--summary" role="region">
    <div class="wrapper">
      <article class="summary" role="article">
        <h3><%= t(:index_description) %></h3>
        <%= image_tag "smart-hiking-mockup.png", class: "mockup", alt: "Smart-Hiking MockUp" %>
        <p><%= t(:index_summary) %></p>
        <p><%= t(:index_info_points) %></p>
        <p><%= t(:index_info_points_2) %></p>
      </article>
    </div>
  </section>
  <aside class= "item-3 no-gap" role="complementary">
    <%= render 'shared/sidebar' %>
  </aside>

  <section class="item-6 no-gap section section--intro">
    <div class="intro_title_container">
      <h4><%= t(:index_live_the_moment_1) %></h4>
      <h4><%= t(:index_live_the_moment_2) %></h4>
    </div>
  </section>

  <section id="features" class="item-6 no-gap grid section section--feature">

    <article class="item-2">
      <h2><span class="icon-contact_location-04"></span></h2>
      <p><%= t(:index_feature_1) %></p>
    </article>

    <article class="item-2">
      <h2><span class="icon-earth"></span></h2>
      <p><%= t(:index_feature_2) %></p>
    </article>

    <article class="item-2">
      <h2><span class="icon-hiking__ranger-01"></span></h2>
      <p><%= t(:index_feature_3) %></p>
    </article>

  </section>

  <div class="item-3 anuncio">
    <aside class="item-3">
      <p><%= t(:start_now) %></p>
      <div class="buttons-container">
        <a href="<%= routes_path %>">
          <button class="calltoaction"><%= t(:routes_search) %></button>
        </a> 
        <span> <%= t(:or) %></span>
        <a href="<%= new_route_path %>">
          <button class="calltoaction" ><%= t(:routes_create) %></button>
        </a>
      </div>
    </aside>
  </div>
  

    <!-- Article 2  -->
  <article id="contact" class="item-3 section--contact" role="article">
    <p><%= t(:contact_text) %></p>
    <form action="" class="form--contact">
      <fieldset>
        <div class="form_field">
          <input type="text" placeholder="<%= t(:name) %>">
        </div>
        <div class="form_field">
          <input type="text" placeholder="<%= t(:email) %>">
        </div>
        <div class="form_field">
          <textarea form="form_id" placeholder="<%= t(:message) %>"></textarea>
        </div>
        <div class="form_field">
          <button class="calltoaction" ><%= t(:contat_us) %></button>
        </div>
      </fieldset>
    </form>
  </article>
    
</div>