<!-- HEADER -->
<header id="page--top" class="the-header" role="banner">
    <div class="container">
      <h1 class="title">Smart Hiking</h1>
      <h2 class="subtitle"><%= t(:index_subtitle) %></h2>
        <%= image_tag "logo_smart-hiking.svg", class: "logo", alt: "Smart-Hiking Logo" %>
    </div>
</header>
<!-- Services  -->
<div class="grid">

  <section class="item-3  section  section--summary" role="region">
    <div class="wrapper">
      <h4><%= t(:index_description) %></h4>
      <article class="summary" role="article">
        <p><%= t(:index_summary) %></p>
        <p><%= t(:index_summary) %></p>
      </article>
    </div>
  </section>
  <aside class= "item-3" role="complementary">
    <%= render 'shared/sidebar' %>
  </aside>

  <section class="item-6 section section--intro">
    <div class="intro_title_container">
      <h4><%= t(:index_live_the_moment_1) %></h4>
      <h4><%= t(:index_live_the_moment_2) %></h4>
    </div>
  </section>

  <section class="item-6 grid section section--feature">

    <article class="item-2">
      <h2><span class="icon-contact_location-04"></span></h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
      <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
    </article>

    <article class="item-2">
      <h2><span class="icon-earth"></span></h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
      <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
    </article>

    <article class="item-2">
      <h2><span class="icon-hiking__ranger-01"></span></h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
      <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
    </article>

  </section>

  <div class="item-6 grid anuncio">
    <div class="item-2 bag">
      <%= image_tag "bag.png", class: "bag_img", alt: "Hiking Bag" %>
    </div>
    <aside class="item-4">
      3232323
    </aside>
  </div>

    <!-- Article 2  -->
  <article class="item-6 section--contact" role="article">
       <p><%= t(:contact_text) %></p>
       <form action="">
         
       </form>
  </article>
    
</div>