  <section id="services" class="section section--services grid">
    
    <article class="service item-2 grid">
      <div class="icon-container xs-item-2">
        <span class="icon-nature__bear__claw-01 icon-service"></span>
      </div>
      <div class="service-text xs-item-4">
        <div class="service-text-container">
          <h3 class="service-title"><%= t(:danger_animals) %></h3>
          <p><%= t(:service_text_danger) %></p>
        </div>
      </div>
    </article>

    <article class="service item-2 grid">
      <div class="icon-container xs-item-2">
        <span class="icon-hiking__shelter-01 icon-service"></span>
      </div>
      <div class="service-text xs-item-4">
        <div class="service-text-container">
          <h3 class="service-title"><%= t(:shelters) %></h3>
          <p><%= t(:service_text_shelter) %></p>
        </div>
      </div>
    </article>

    <article class="service item-2 grid">
      <div class="icon-container xs-item-2">
        <span class="icon-hiking_canteen-01 icon-service"></span>
      </div>
      <div class="service-text xs-item-4">
        <div class="service-text-container">
          <h3 class="service-title"><%= t(:water_source) %></h3>
          <p><%= t(:service_text_water) %></p>
        </div>
      </div>
    </article>

    <article class="service item-2 grid">
      <div class="icon-container xs-item-2">
        <span class="icon-hiking--picnic-area-01 icon-service"></span>
      </div>
      <div class="service-text xs-item-4">
        <div class="service-text-container">
          <h3 class="service-title"><%= t(:picnic_areas) %></h3>
          <p><%= t(:service_text_picnic) %></p>
        </div>
      </div>
    </article>

    <article class="service item-2 grid">
      <div class="icon-container xs-item-2">
        <span class="icon-hiking__ranger-01 icon-service"></span>
      </div>
      <div class="service-text xs-item-4">
        <div class="service-text-container">
          <h3 class="service-title"><%= t(:ranger_stations) %></h3>
          <p><%= t(:service_text_ranger) %></p>
        </div>
      </div>
    </article>

    <article class="service item-2 grid">
      <div class="icon-container xs-item-2">
        <span class="icon-police__badge-01 icon-service"></span>
      </div>
      <div class="service-text xs-item-4">
        <div class="service-text-container">
          <h3 class="service-title"><%= t(:police_stations) %></h3>
          <p><%= t(:service_text_police) %></p>
        </div>
      </div>
    </article>

    <article class="service item-2 grid">
      <div class="icon-container xs-item-2">
        <span class="icon-fireman__helmet-01 icon-service"></span>
      </div>
      <div class="service-text xs-item-4">
        <div class="service-text-container">
          <h3 class="service-title"><%= t(:fire_stations) %></h3>
          <p><%= t(:service_text_fire) %></p>
        </div>
      </div>
    </article>

    <article class="service item-2 grid">
      <div class="icon-container xs-item-2">
        <span class="icon-hospital__symbol icon-service"></span>
      </div>
      <div class="service-text xs-item-4">
        <div class="service-text-container">
          <h3 class="service-title"><%= t(:hospital) %></h3>
          <p><%= t(:service_text_hospital) %></p>
        </div>
      </div>
    </article>

    <article class="service item-2 grid">
      <div class="icon-container xs-item-2">
        <span class="icon-hiking__sos-signal-01 icon-service"></span>
      </div>
      <div class="service-text xs-item-4">
        <div class="service-text-container">
          <h3 class="service-title"><%= t(:sos) %></h3>
          <p><%= t(:service_text_sos) %></p>
        </div>
      </div>
    </article>

  </section>
