
  <section class="section--search">

    <article id="show-intro-text" class="intro-text">
      <p><%= t(:routes_search_description_p1) %></p>
      <p><%= t(:routes_search_description_p2) %></p>
    </article>

    <%= form_tag search_path do %>
      <p>
        <%= text_field_tag :search, nil, id: "search", class: "search-field", placeholder: t(:routes_search) %>  <!-- Nil es el value del input search, y hay que ponerlo siempre, si no queremos darle value, ponemos nil-->
        <%= submit_tag "Search", :name => nil, :class => "search-btn" %>
      </p>
    <% end %>      
    <div class="centerbutton">
      <a href="<%= new_route_path %>">
        <button class="calltoaction routelist" ><%= t(:routes_create) %></button>
      </a>
    </div>
  </section>

<section class="section--routes-list">
  <h2 class="heading--routes"><%= t(:routes_list) %></h2>
  <% @routes.each do |route| %>
    <article class="route">
      <div class="img-container">
        <a title="<%= t(:see_the_map) %>" href="<%= route_path(route.id) %>">
          <span class="icon-contact_location-04"></span>
        </a>
      </div>

      <h3 class="title"><%= link_to(route.name, route_path(route.id)) %></h3>
      <p class="description"><%= route.description %></p>
      <p class="location"><span><%= route.city %></span> (<%= route.country %>)</p>
    </article>
  <% end %>
</section>

