<%= form_for @route do |f| %>
	<fieldset>
		<legend>Create the route</legend>
		<div class="form_field">
			<%= f.label :name %>
			<%= f.text_field :name, placeholder: "Route name" %>
		</div>
		<div class="form_field">
			<%= f.label :area %>
			<%= f.text_field :area, placeholder: "Area where is the route" %>
		</div>
		<div class="form_field">
			<%= f.label :city %>
			<%= f.text_field :city, placeholder: "City of the route" %>
		</div>
		<div class="form_field">
			<%= f.label :country %>
			<%= f.text_field :country, placeholder: "Country of the route" %>
		</div>
		<div class="form_field">
			<%= f.label :description %>
			<%= f.text_area :description, placeholder: "Route description" %>
		</div>
		<div class="form_field">
			<%= f.label :size %>
			<%= f.number_field :size, placeholder: "Route size (km)" %>
		</div>
		<div class="form_field">
			<%= f.label "Inicial Latitude" %>
			<%= f.number_field :initial_latitude, :step => "0.0000001" %>
		</div>
		<div class="form_field">
		<%= f.submit 'Publish Route' %>
		</div>
	</fieldset>
<% end %>